:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #3a3fe3;
  --second-brand-color: #dedddb;
  --third-brand-color: #f4c610;

  --main-font:  'Raleway';
  --title-font:  'Be Vietnam Pro';
  --main-title-font: 'Bebas Neue';

  font-size: 62.5%;
}
